@import "./_mixins.scss";
@import "./_reset.scss";

/****************
TABLE OF CONTENTS
*
* 1. Colors
* 2. Fonts
* 3. App
/****************

/********
1. Colors
*********/
$primary: #78cbee;
$accent: #f26387;
$tertiary: #5497a7;
$highlight: #ffd740;
$background: #495e77;

/********
2. Fonts
*********/
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

/********
3. App
*********/
.app {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: white;
  background-color: $background;
  text-align: center;
  font-family: "Indie Flower", cursive;
  padding-top: 20px;
  @include borderBox;

  h1 {
    margin-top: 30px;
    font-size: 3rem;
  }

  .timer,
  .tasks {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    padding: 20px 10px;

    @include breakpoint(laptop) {
      width: 50%;
    }
  }

  .timer {
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: $tertiary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
    @include box-shadow(1px, 1px, 20px, rgba(0, 0, 0, 0.2));

    &__circle {
      position: relative;

      svg:not(.timer__circle__edit) {
        width: 60%;
        height: 60%;

        @include breakpoint(laptop) {
          width: 300px;
          height: 300px;
        }
      }

      &__time {
        font-size: 3rem;
        top: 43%;
        @include centerer(true, true);

        @include breakpoint(tablet) {
          font-size: 4.5rem;
        }

        @include breakpoint(laptop) {
          font-size: 5rem;
        }
      }

      &__name {
        position: relative;
        display: flex;
        align-items: center;

        input {
          max-width: 100%;
          margin: 0 auto;
          background-color: transparent;
          border: none;
          outline: none;
          font-family: inherit;
          text-align: center;
          font-size: 2rem;

          &:active,
          &:focus {
            border: 2px solid $accent;
          }

          @include breakpoint(tablet) {
            font-size: 2.5rem;
          }

          @include breakpoint(laptop) {
            font-size: 3rem;
          }
        }

        svg {
          position: absolute;
          right: 50px;
          @include centerer(false, true);
        }
      }
    }

    &__controls {
      width: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 20px;
      background-color: white;
      border-radius: 12px;
      @include box-shadow(1px, 1px, 10px, rgba(0, 0, 0, 0.3));

      @include breakpoint(laptop) {
        width: 30%;
        height: 80px;
      }

      &__play,
      &__pause,
      &__stop {
        margin: 0 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        svg {
          @include transform(scale(1.1));
        }

        &:hover {
          @include transform(scale(1.5));

          svg {
            fill: $accent;
          }
        }

        @include breakpoint(laptop) {
          margin: 0 20px;

          svg {
            @include transform(scale(1.9));
          }
        }
      }
    }
  }

  .tasks {
    width: 75%;
    min-height: 100px;
    background-color: $accent;
    color: #333;
    border-top: 1px solid $background;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
    text-align: left;
    top: -95px;
    transition: top 0.2s ease-in-out;

    @include breakpoint(laptop) {
      width: 48%;
    }

    &--opened {
      top: -5px;
    }

    &__toggle {
      position: absolute;
      bottom: -25px;
      left: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      @include centerer(true, false);
      z-index: 4;
      padding: 15px;
      cursor: pointer;
      @include box-shadow(1px, 1px, 20px, rgba(0, 0, 0, 0.4));

      svg {
        width: 30px;
      }
    }

    ul {
      li {
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-areas: "task time";
        margin: 20px 0;
        grid-template-areas: "task time";
        justify-content: center;
        align-items: center;

        span {
          &:first-of-type {
            grid-area: task;
            font-size: 1.175rem;
            margin-left: 10px;

            @include breakpoint(tablet) {
              font-size: 1.875rem;
            }
          }

          &:last-of-type {
            grid-area: time;
            text-align: center;
            font-size: 2rem;

            svg {
              width: 30%;
              fill: #333;

              @include breakpoint(laptop) {
                margin-right: -20px;
              }
            }
          }
        }
      }
    }
  }

  .addTask {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $highlight;
    cursor: pointer;
    transition: all 0.3s ease;
    @include box-shadow(1px, 1px, 10px, rgba(0, 0, 0, 0.3));

    &:hover {
      @include transform(scale(1.2));
    }

    svg {
      width: 100% !important;
      fill: #333;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;

    &__inner {
      position: relative;
      top: 30%;
      width: 90%;
      min-height: 300px;
      min-height: 150px;
      margin: 0 auto;
      padding: 20px 10px;
      background-color: white;
      color: #333;
      border-radius: 12px;
      @include box-shadow(1px, 1px, 20px, rgba(0, 0, 0, 0.2));

      @include breakpoint(laptop) {
        width: 40%;
      }

      p {
        font-size: 2rem;
      }

      &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        fill: #333;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          @include transform(scale(1.2));
        }
      }

      &__form {
        font-size: 1.785rem;
        margin-top: 20px;

        &__row {
          display: grid;
          grid-template-columns: 3fr 7fr;
          grid-template-areas: "label input";
          margin-bottom: 20px;

          label {
            grid-area: label;
            text-align: left;
            align-self: center;
          }

          input {
            grid-area: input;
            height: 15px;
            border: 1px solid #eee;
            padding: 10px 20px;
            outline: none;
          }

          &--error {
            p {
              font-size: 1.125rem;
              color: tomato;
            }
          }
        }
      }

      &__submit {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 50%;
        fill: #333;
        background-color: $primary;
        fill: white;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          @include transform(scale(1.2));
        }
      }
    }
  }
}
